{
  "targets": "> 0.25%, not dead", // 浏览器市场份额超过0.25％的用户所需的 polyfill 和代码转换（忽略没有安全更新的浏览器，如 IE10 和 BlackBerry）
  "presets": [
    "@babel/env", // 把 useBuiltIns 等删了，因为和 @babel/runtime-corejs3 功能重复了
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3 // 默认按需引入，并且使用 @babel/runtime-corejs3 库，并且不会污染全局环境
      }
    ]
  ]
}
