.wrapper {
  margin-top: 70px;
  width: 100%;
  height: 100%;
}

.fileInfo {
  width: 100%;
  text-align: center;
  color: #999999;
  margin-bottom: 13px;
}

.fileInfoItem {
  display: inline-block;
}

.infoLeft,
.infoRight {
  display: inline-block;
}

.inputWrapper {
  width: 100%;
  text-align: center;
}

.prefix {
  position: relative;
  left: 27px;
  top: 2px;
  width: 20px;
  height: 20px;
}

.input {
  width: 60%;
  height: 40px;
  line-height: 60px;
  font-size: 20px;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 30px;
}

.input:focus {
  outline: none;
  border-width: 2px;
  border-color: red;
}

/* show list */
.showList {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 5px;
  border: 1px dotted gray;
  overflow: auto;
}

.listItem {
}

.listContent {
  display: inline-block;
  /* width: 80px; */
  /* overflow: auto; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}
/* drop */
.dropArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  font-size: large;
  border: 1px dashed gray;
}

.inputUpload {
  display: none;
}
